@charset 'UTF-8';

#container{
    width:100%;
    height: auto;
    margin: 0px;
    padding: 0px;

    .product-pic{
        width: 100%;
        max-height: 350px;
        display: -webkit-flex;
        display: flex;

        img{
            width: 100%;
            height: auto;
            object-fit: conver;
        }
    }

    .product-info{
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
        width: calc(100% - 16px);
        margin-top: 10px;
        padding: 0px 10px;
        border-bottom: 1px solid #ccc;

        p{
            display: block;
            width: 100%;
            text-align: left;

            &.product-name{
                font-size: 16px;
                font-weight: bold;
                color: #333;
                line-height: 170%;
            }

            &.product-price{
                font-size: 14px;

                >span{
                    font-size: 20px;
                    color: red;
                }
            }

            &.product-sales{
                font-size:14px;
                color: gray;
            }
        }
    }
}